manifest {
  author = "Julien Fouret"
  version = "1.1.1"
  defaultBranch = "main"
  name = "hannot"
  description = "Homology-based annotation of sequences"
  homePage        = 'https://github.com/nexomis/hannot'
  mainScript      = 'main.nf'
  nextflowVersion = ">=24.04.0"
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
  help = false

  // Input/Output options
  input = null
  prot = null
  out_dir = "./out_dir"

  // Annotation options
  regex_prot_name = "^>.*GN=([^ ]+).*\$"
  miniprot_opts = "-k 3 -L 5 -O 5 -n 1 -N 1000 -l 3 -E 0 -J 5 -F 8 -B 5 --outs 0.1 --outn 5"

  // Resources options
  biocontainers_registry = "public.ecr.aws"
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16

  // Publish params
  publish_dir_mode = "link"
}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "modules/config/pipeline_info.config"
includeConfig "conf/ext.config"

