manifest {
  author = "Julien Fouret"
  version = "1.0.3"
  defaultBranch = "main"
  name = "hannot"
  description = "Homology-based annotation of sequences"
  homePage        = 'https://github.com/nexomis/hannot'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.04.2'
}

params {
  help = false

  // Input/Output options
  prot_fasta = null
  genome_fatsa = null
  out_dir = null

  // Annotation options
  revcomp_from_annot = false
  regex_prot_name = "^>.*GN=([^ ]+).*\$"
  miniprot_opts = ""

  // Resources options
  biocontainers_registry = "public.ecr.aws"
  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16

  // Publish params
  publish_dir_mode = "link"
}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "conf/publish.conf"
includeConfig "conf/ext.conf"
