manifest {
  author = "Julien Fouret"
  version = "1.0.0"
  defaultBranch = "main"
  name = "hannot"
  description = "Homology-based annotation of sequences"
}

params {
  help = false
  prot_fasta = null
  genome_fatsa = null
  out_dir = null
  revcomp_from_annot = false
  regex_prot_name = "^>.*GN=([^ ]+).*\$"
  miniprot_opts = ""
  biocontainers_registry = "public.ecr.aws"
}

includeConfig "config/process.config"
